app-common-python==0.2.6
boto3==1.28.68
insights-core==3.2.20
git+https://github.com/RedHatInsights/insights-core-messaging@1.2.2
jsonschema==3.2.0
python-json-logger==2.0.7
requests==2.31.0
sentry-sdk==0.19.5
watchtower==3.0.1
prometheus_client==0.17.1
